
body {
  margin: 0;

  .wrapper {
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100vh;
    nav {
      background: rgba(30,50,200,0.6);
      .navCont {
        div {
          float: left;
          margin: 10px;
        }
      }

    }
    .content{
      padding: 50px 2%;
      width: 259px;
      line-height: 25px;
      button{
        float: right;
      }
      .solo-btn{
        float: none;
      }
      .patient{
        .item{
          float: none;
          border:none;
          background: none;
        }

        width: 207px;
        position: absolute;
        left: 300px;
        top:50px;
      }
      .medicin{
        position: absolute;
        left: 510px;
        top: 50px;
        border: 1px solid black;
        padding: 20px;
        min-width: 244px;
        min-height: 67px;
      }
      .patientForm{
        position: absolute;
        left: 510px;
        top: 50px;
        width: 218px;
      }
    }
  }
}